@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900");
/* line 1, src/scss/_shared/_main-setting-reset.scss */
html,
body {
  width: 100%;
  min-height: 100vh;
}

/* line 8, src/scss/_shared/_main-setting-reset.scss */
html {
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* line 14, src/scss/_shared/_main-setting-reset.scss */
body {
  overflow-x: hidden;
  position: relative;
  margin: 0;
  padding: 0;
  background-color: #fff;
  line-height: 1.42857143;
  font-size: 14px;
  font-weight: normal;
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 28, src/scss/_shared/_main-setting-reset.scss */
body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

/* line 33, src/scss/_shared/_main-setting-reset.scss */
body > .body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

/* line 39, src/scss/_shared/_main-setting-reset.scss */
body > .body--start {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

/* line 46, src/scss/_shared/_main-setting-reset.scss */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* line 49, src/scss/_shared/_main-setting-reset.scss */
*:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* line 56, src/scss/_shared/_main-setting-reset.scss */
button,
input,
optgroup,
select,
textarea {
  font-size: 100%;
  margin: 0;
}

/* line 66, src/scss/_shared/_main-setting-reset.scss */
button,
input {
  overflow: visible;
}

/* line 72, src/scss/_shared/_main-setting-reset.scss */
button[disabled] {
  opacity: 0.55;
  cursor: not-allowed;
}

/* line 78, src/scss/_shared/_main-setting-reset.scss */
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

/* line 84, src/scss/_shared/_main-setting-reset.scss */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 90, src/scss/_shared/_main-setting-reset.scss */
textarea {
  overflow: auto;
}

/* line 95, src/scss/_shared/_main-setting-reset.scss */
p,
h1, h2, h3, h4, h5, h6,
hr {
  margin: 0;
  padding: 0;
}

/* line 103, src/scss/_shared/_main-setting-reset.scss */
ul {
  margin: 0;
  padding: 0;
}

/* line 108, src/scss/_shared/_main-setting-reset.scss */
ul li {
  list-style: none;
}

/* line 114, src/scss/_shared/_main-setting-reset.scss */
a {
  outline: none;
  text-decoration: none;
}

/* line 119, src/scss/_shared/_main-setting-reset.scss */
a:hover, a:focus {
  text-decoration: none;
}

/* line 126, src/scss/_shared/_main-setting-reset.scss */
input[type="text"] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

/* line 130, src/scss/_shared/_main-setting-reset.scss */
picture {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 8, src/scss/_shared/_grid.scss */
.c-grid, .c-grid-fluid {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}

/* line 20, src/scss/_shared/_grid.scss */
.c-grid {
  max-width: 1330px;
}

/* line 27, src/scss/_shared/_grid.scss */
.c-grid-fluid {
  max-width: 100%;
}

@media screen and (min-width: 576px) {
  /* line 35, src/scss/_shared/_grid.scss */
  .c-grid {
    max-width: 1330px;
  }
}

@media screen and (min-width: 992px) {
  /* line 35, src/scss/_shared/_grid.scss */
  .c-grid {
    max-width: 1330px;
  }
}

@media screen and (min-width: 1200px) {
  /* line 35, src/scss/_shared/_grid.scss */
  .c-grid {
    max-width: 1330px;
  }
}

@media screen and (min-width: 768px) {
  /* line 35, src/scss/_shared/_grid.scss */
  .c-grid {
    max-width: 1330px;
  }
}

@media screen and (min-width: 1366px) {
  /* line 35, src/scss/_shared/_grid.scss */
  .c-grid {
    max-width: 1330px;
  }
}

/* line 4, src/scss/_shared/_common.scss */
.copyright__text {
  color: #ffffff;
}

@media screen and (max-width: 767px) {
  /* line 4, src/scss/_shared/_common.scss */
  .copyright__text {
    text-align: center;
  }
}

/* line 12, src/scss/_shared/_common.scss */
.social {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1023px) {
  /* line 12, src/scss/_shared/_common.scss */
  .social {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

/* line 19, src/scss/_shared/_common.scss */
.social__btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 36px;
  height: 36px;
  margin-right: 5px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  border-style: solid;
  border-width: 2px 2px 2px 2px;
  border-color: #071689;
  background-color: transparent;
  -webkit-transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  -o-transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

@media screen and (max-width: 1023px) {
  /* line 19, src/scss/_shared/_common.scss */
  .social__btn {
    margin-left: 5px;
  }
}

/* line 36, src/scss/_shared/_common.scss */
.social__btn:last-of-type {
  margin-right: 0;
}

@media screen and (max-width: 1023px) {
  /* line 36, src/scss/_shared/_common.scss */
  .social__btn:last-of-type {
    margin-right: 5px;
  }
}

/* line 44, src/scss/_shared/_common.scss */
.social__btn--facebook:hover {
  border-color: #3b5998;
  background-color: #3b5998;
  -webkit-transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  -o-transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

/* line 49, src/scss/_shared/_common.scss */
.social__btn--facebook:hover .fab {
  color: #ffffff;
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

/* line 56, src/scss/_shared/_common.scss */
.social__btn--twitter:hover {
  border-color: #1da1f2;
  background-color: #1da1f2;
  -webkit-transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  -o-transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

/* line 61, src/scss/_shared/_common.scss */
.social__btn--twitter:hover .fab {
  color: #ffffff;
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

/* line 68, src/scss/_shared/_common.scss */
.social__btn--instagram:hover {
  border-color: #e1306c;
  background-color: #e1306c;
  -webkit-transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  -o-transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

/* line 73, src/scss/_shared/_common.scss */
.social__btn--instagram:hover .fab {
  color: #ffffff;
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

/* line 80, src/scss/_shared/_common.scss */
.social__btn--youtube:hover {
  border-color: #ff0000;
  background-color: #ff0000;
  -webkit-transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  -o-transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

/* line 85, src/scss/_shared/_common.scss */
.social__btn--youtube:hover .fab {
  color: #ffffff;
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

/* line 92, src/scss/_shared/_common.scss */
.social__btn .fab {
  color: #071689;
  font-size: 16px;
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

@media screen and (max-width: 767px) {
  /* line 6, src/scss/_macros/_logotype.scss */
  .logo.logo--footer .logo__img {
    max-width: -webkit-calc(2048px / 10);
    max-width: calc(2048px / 10);
    margin-left: auto;
    margin-right: auto;
  }
}

/* line 16, src/scss/_macros/_logotype.scss */
.logo__link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}

/* line 21, src/scss/_macros/_logotype.scss */
.logo__img {
  display: block;
  max-width: 348px;
  height: auto;
}

/* line 3, src/scss/_components/_footer.scss */
.footer {
  background-color: #7a7a7a;
}

/* line 6, src/scss/_components/_footer.scss */
.footer__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 145px;
}

@media screen and (max-width: 767px) {
  /* line 6, src/scss/_components/_footer.scss */
  .footer__wrapper {
    height: auto;
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

/* line 17, src/scss/_components/_footer.scss */
.footer__wrapper-left, .footer__wrapper-right {
  width: 50%;
}

@media screen and (max-width: 767px) {
  /* line 17, src/scss/_components/_footer.scss */
  .footer__wrapper-left, .footer__wrapper-right {
    width: 100%;
  }
}

/* line 25, src/scss/_components/_footer.scss */
.footer__wrapper-right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media screen and (max-width: 767px) {
  /* line 25, src/scss/_components/_footer.scss */
  .footer__wrapper-right {
    padding-top: 30px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

/* line 3, src/scss/_components/_contacts.scss */
.contacts {
  padding-top: 50px;
  padding-bottom: 50px;
}

/* line 7, src/scss/_components/_contacts.scss */
.contacts__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

/* line 11, src/scss/_components/_contacts.scss */
.contacts__wrapper-left {
  width: 100%;
  max-width: -webkit-calc(100% - 680px);
  max-width: calc(100% - 680px);
}

@media screen and (max-width: 1023px) {
  /* line 11, src/scss/_components/_contacts.scss */
  .contacts__wrapper-left {
    max-width: 100%;
  }
}

/* line 19, src/scss/_components/_contacts.scss */
.contacts__wrapper-right {
  width: 100%;
  max-width: 680px;
}

@media screen and (max-width: 1023px) {
  /* line 19, src/scss/_components/_contacts.scss */
  .contacts__wrapper-right {
    max-width: 100%;
  }
}

/* line 28, src/scss/_components/_contacts.scss */
.contacts__title {
  padding-bottom: 20px;
  color: #071689;
  font-size: 45px;
  font-weight: 300;
  text-transform: uppercase;
}

@media screen and (max-width: 1439px) {
  /* line 28, src/scss/_components/_contacts.scss */
  .contacts__title {
    font-size: 40px;
  }
}

@media screen and (max-width: 1023px) {
  /* line 28, src/scss/_components/_contacts.scss */
  .contacts__title {
    font-size: 35px;
    text-align: center;
  }
}

@media screen and (max-width: 575px) {
  /* line 28, src/scss/_components/_contacts.scss */
  .contacts__title {
    font-size: 30px;
  }
}

/* line 46, src/scss/_components/_contacts.scss */
.contacts__subtitle {
  padding-bottom: 40px;
  text-align: center;
  font-size: 25px;
  color: #3a3a3a;
}

@media screen and (max-width: 1439px) {
  /* line 46, src/scss/_components/_contacts.scss */
  .contacts__subtitle {
    font-size: 22px;
  }
}

@media screen and (max-width: 767px) {
  /* line 46, src/scss/_components/_contacts.scss */
  .contacts__subtitle {
    font-size: 20px;
  }
}

/* line 59, src/scss/_components/_contacts.scss */
.contacts__form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  padding: 40px;
  background-image: url("../img/img-contacts-form-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
          background-size: cover;
}

@media screen and (max-width: 767px) {
  /* line 59, src/scss/_components/_contacts.scss */
  .contacts__form {
    padding: 20px 15px;
  }
}

/* line 72, src/scss/_components/_contacts.scss */
.contacts__form > div {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 10px;
}

/* line 77, src/scss/_components/_contacts.scss */
.contacts__form > div:last-of-type {
  padding-bottom: 0;
}

/* line 82, src/scss/_components/_contacts.scss */
.contacts__form input,
.contacts__form textarea {
  outline: none;
  width: 100%;
  max-width: 100%;
  min-height: 40px;
  padding: 5px 14px;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  border: 1px solid #818a91;
  background-color: #fff;
  -webkit-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
          box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
  font-size: 14px;
  color: #222;
  -webkit-transition: border-color 0.3s ease-in-out;
  -o-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
}

/* line 88, src/scss/_utilities/_mixin.scss */
.contacts__form input.placeholder,
.contacts__form textarea.placeholder {
  font-size: 14px;
  color: #666;
}

/* line 89, src/scss/_utilities/_mixin.scss */
.contacts__form input:-moz-placeholder,
.contacts__form textarea:-moz-placeholder {
  font-size: 14px;
  color: #666;
}

/* line 90, src/scss/_utilities/_mixin.scss */
.contacts__form input::-moz-placeholder,
.contacts__form textarea::-moz-placeholder {
  font-size: 14px;
  color: #666;
}

/* line 91, src/scss/_utilities/_mixin.scss */
.contacts__form input:-ms-input-placeholder,
.contacts__form textarea:-ms-input-placeholder {
  font-size: 14px;
  color: #666;
}

/* line 92, src/scss/_utilities/_mixin.scss */
.contacts__form input::-webkit-input-placeholder,
.contacts__form textarea::-webkit-input-placeholder {
  font-size: 14px;
  color: #666;
}

/* line 101, src/scss/_components/_contacts.scss */
.contacts__form input:focus,
.contacts__form textarea:focus {
  border-color: #bfbfbf;
  -webkit-transition: border-color 0.3s ease-in-out;
  -o-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
}

/* line 107, src/scss/_components/_contacts.scss */
.contacts__form textarea {
  resize: none;
  min-height: 90px;
}

/* line 112, src/scss/_components/_contacts.scss */
.contacts__form button {
  outline: none;
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 40px;
  padding: 12px 24px;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 2px solid #071689;
  background-color: #071689;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  font-weight: 500;
  font-size: 15px;
  color: #fff;
  -webkit-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

@media screen and (max-width: 767px) {
  /* line 112, src/scss/_components/_contacts.scss */
  .contacts__form button {
    width: 100%;
    max-width: 100%;
  }
}

/* line 135, src/scss/_components/_contacts.scss */
.contacts__form button:hover {
  background-color: transparent;
  color: #071689;
  -webkit-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

/* line 3, src/scss/_components/_map.scss */
.map {
  background-color: #f3f3fc;
  background-image: url("../img/img-map-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
          background-size: cover;
}

/* line 10, src/scss/_components/_map.scss */
.map__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 612px;
  padding-top: 50px;
  padding-bottom: 50px;
}

@media screen and (max-width: 1024px) {
  /* line 10, src/scss/_components/_map.scss */
  .map__wrapper {
    height: auto;
  }
}

/* line 21, src/scss/_components/_map.scss */
.map__wrapper-left {
  width: 100%;
  max-width: 70%;
}

@media screen and (max-width: 1024px) {
  /* line 21, src/scss/_components/_map.scss */
  .map__wrapper-left {
    max-width: 100%;
    padding-bottom: 50px;
  }
}

/* line 29, src/scss/_components/_map.scss */
.map__wrapper-left iframe {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 340px;
}

/* line 36, src/scss/_components/_map.scss */
.map__wrapper-right {
  width: 100%;
  max-width: 30%;
  padding-left: 30px;
}

@media screen and (max-width: 1024px) {
  /* line 36, src/scss/_components/_map.scss */
  .map__wrapper-right {
    max-width: 100%;
    padding-left: 0;
  }
}

@media screen and (max-width: 1023px) {
  /* line 47, src/scss/_components/_map.scss */
  .map__block {
    width: 100%;
    max-width: 50%;
  }
}

@media screen and (max-width: 767px) {
  /* line 47, src/scss/_components/_map.scss */
  .map__block {
    max-width: 100%;
  }
}

@media screen and (max-width: 1023px) {
  /* line 56, src/scss/_components/_map.scss */
  .map__block-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
}

/* line 64, src/scss/_components/_map.scss */
.map__title {
  padding-bottom: 20px;
  color: #3a3a3a;
  line-height: 1;
  font-size: 20px;
  font-weight: 300;
}

@media screen and (max-width: 767px) {
  /* line 64, src/scss/_components/_map.scss */
  .map__title {
    text-align: center;
  }
}

/* line 74, src/scss/_components/_map.scss */
.map__title .fas,
.map__title .far {
  margin-right: 5px;
  color: #39d52d;
  font-size: 20px;
}

/* line 82, src/scss/_components/_map.scss */
.map__desc {
  display: block;
  padding-bottom: 30px;
  color: #1e73be;
  font-size: 16px;
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

@media screen and (max-width: 767px) {
  /* line 82, src/scss/_components/_map.scss */
  .map__desc {
    text-align: center;
  }
}

/* line 92, src/scss/_components/_map.scss */
.map__desc:hover {
  color: #000;
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

/*# sourceMappingURL=maps/app.css.map */
