@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900");
/* line 14, src/scss/_utilities/_extend.scss */
.services__box-front img, .meet__video iframe, .meet__block-icon img, .projects__block-left img, .say__box img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

/* line 1, src/scss/_shared/_main-setting-reset.scss */
html,
body {
  width: 100%;
  min-height: 100vh;
}

/* line 8, src/scss/_shared/_main-setting-reset.scss */
html {
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* line 14, src/scss/_shared/_main-setting-reset.scss */
body {
  overflow-x: hidden;
  position: relative;
  margin: 0;
  padding: 0;
  background-color: #fff;
  line-height: 1.42857143;
  font-size: 14px;
  font-weight: normal;
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 28, src/scss/_shared/_main-setting-reset.scss */
body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

/* line 33, src/scss/_shared/_main-setting-reset.scss */
body > .body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

/* line 39, src/scss/_shared/_main-setting-reset.scss */
body > .body--start {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

/* line 46, src/scss/_shared/_main-setting-reset.scss */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* line 49, src/scss/_shared/_main-setting-reset.scss */
*:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* line 56, src/scss/_shared/_main-setting-reset.scss */
button,
input,
optgroup,
select,
textarea {
  font-size: 100%;
  margin: 0;
}

/* line 66, src/scss/_shared/_main-setting-reset.scss */
button,
input {
  overflow: visible;
}

/* line 72, src/scss/_shared/_main-setting-reset.scss */
button[disabled] {
  opacity: 0.55;
  cursor: not-allowed;
}

/* line 78, src/scss/_shared/_main-setting-reset.scss */
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

/* line 84, src/scss/_shared/_main-setting-reset.scss */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 90, src/scss/_shared/_main-setting-reset.scss */
textarea {
  overflow: auto;
}

/* line 95, src/scss/_shared/_main-setting-reset.scss */
p,
h1, h2, h3, h4, h5, h6,
hr {
  margin: 0;
  padding: 0;
}

/* line 103, src/scss/_shared/_main-setting-reset.scss */
ul {
  margin: 0;
  padding: 0;
}

/* line 108, src/scss/_shared/_main-setting-reset.scss */
ul li {
  list-style: none;
}

/* line 114, src/scss/_shared/_main-setting-reset.scss */
a {
  outline: none;
  text-decoration: none;
}

/* line 119, src/scss/_shared/_main-setting-reset.scss */
a:hover, a:focus {
  text-decoration: none;
}

/* line 126, src/scss/_shared/_main-setting-reset.scss */
input[type="text"] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

/* line 130, src/scss/_shared/_main-setting-reset.scss */
picture {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 8, src/scss/_shared/_grid.scss */
.c-grid, .c-grid-fluid {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}

/* line 20, src/scss/_shared/_grid.scss */
.c-grid {
  max-width: 1330px;
}

/* line 27, src/scss/_shared/_grid.scss */
.c-grid-fluid {
  max-width: 100%;
}

@media screen and (min-width: 576px) {
  /* line 35, src/scss/_shared/_grid.scss */
  .c-grid {
    max-width: 1330px;
  }
}

@media screen and (min-width: 992px) {
  /* line 35, src/scss/_shared/_grid.scss */
  .c-grid {
    max-width: 1330px;
  }
}

@media screen and (min-width: 1200px) {
  /* line 35, src/scss/_shared/_grid.scss */
  .c-grid {
    max-width: 1330px;
  }
}

@media screen and (min-width: 768px) {
  /* line 35, src/scss/_shared/_grid.scss */
  .c-grid {
    max-width: 1330px;
  }
}

@media screen and (min-width: 1366px) {
  /* line 35, src/scss/_shared/_grid.scss */
  .c-grid {
    max-width: 1330px;
  }
}

/* line 4, src/scss/_shared/_common.scss */
.copyright__text {
  color: #ffffff;
}

@media screen and (max-width: 767px) {
  /* line 4, src/scss/_shared/_common.scss */
  .copyright__text {
    text-align: center;
  }
}

/* line 12, src/scss/_shared/_common.scss */
.social {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1023px) {
  /* line 12, src/scss/_shared/_common.scss */
  .social {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

/* line 19, src/scss/_shared/_common.scss */
.social__btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 36px;
  height: 36px;
  margin-right: 5px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  border-style: solid;
  border-width: 2px 2px 2px 2px;
  border-color: #071689;
  background-color: transparent;
  -webkit-transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  -o-transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

@media screen and (max-width: 1023px) {
  /* line 19, src/scss/_shared/_common.scss */
  .social__btn {
    margin-left: 5px;
  }
}

/* line 36, src/scss/_shared/_common.scss */
.social__btn:last-of-type {
  margin-right: 0;
}

@media screen and (max-width: 1023px) {
  /* line 36, src/scss/_shared/_common.scss */
  .social__btn:last-of-type {
    margin-right: 5px;
  }
}

/* line 44, src/scss/_shared/_common.scss */
.social__btn--facebook:hover {
  border-color: #3b5998;
  background-color: #3b5998;
  -webkit-transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  -o-transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

/* line 49, src/scss/_shared/_common.scss */
.social__btn--facebook:hover .fab {
  color: #ffffff;
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

/* line 56, src/scss/_shared/_common.scss */
.social__btn--twitter:hover {
  border-color: #1da1f2;
  background-color: #1da1f2;
  -webkit-transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  -o-transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

/* line 61, src/scss/_shared/_common.scss */
.social__btn--twitter:hover .fab {
  color: #ffffff;
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

/* line 68, src/scss/_shared/_common.scss */
.social__btn--instagram:hover {
  border-color: #e1306c;
  background-color: #e1306c;
  -webkit-transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  -o-transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

/* line 73, src/scss/_shared/_common.scss */
.social__btn--instagram:hover .fab {
  color: #ffffff;
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

/* line 80, src/scss/_shared/_common.scss */
.social__btn--youtube:hover {
  border-color: #ff0000;
  background-color: #ff0000;
  -webkit-transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  -o-transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

/* line 85, src/scss/_shared/_common.scss */
.social__btn--youtube:hover .fab {
  color: #ffffff;
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

/* line 92, src/scss/_shared/_common.scss */
.social__btn .fab {
  color: #071689;
  font-size: 16px;
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

/* line 1, src/scss/_shared/_magnificPopup.scss */
.modal {
  position: relative;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
}

/* line 16, src/scss/_shared/_magnificPopup.scss */
.mfp-zoom-in .mfp-with-anim {
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transform: scale(0.8);
      -ms-transform: scale(0.8);
          transform: scale(0.8);
}

/* line 22, src/scss/_shared/_magnificPopup.scss */
.mfp-zoom-in.mfp-bg {
  opacity: 0;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

/* line 28, src/scss/_shared/_magnificPopup.scss */
.mfp-zoom-in.mfp-ready .mfp-with-anim {
  opacity: 1;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

/* line 32, src/scss/_shared/_magnificPopup.scss */
.mfp-zoom-in.mfp-ready.mfp-bg {
  opacity: 0.8;
}

/* line 38, src/scss/_shared/_magnificPopup.scss */
.mfp-zoom-in.mfp-removing .mfp-with-anim {
  -webkit-transform: scale(0.8);
      -ms-transform: scale(0.8);
          transform: scale(0.8);
  opacity: 0;
}

/* line 42, src/scss/_shared/_magnificPopup.scss */
.mfp-zoom-in.mfp-removing.mfp-bg {
  opacity: 0;
}

/* line 53, src/scss/_shared/_magnificPopup.scss */
.mfp-slide-in .mfp-with-anim {
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
          transform: translateX(100%);
}

/* line 59, src/scss/_shared/_magnificPopup.scss */
.mfp-slide-in.mfp-bg {
  opacity: 0;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

/* line 65, src/scss/_shared/_magnificPopup.scss */
.mfp-slide-in.mfp-ready .mfp-with-anim {
  opacity: 1;
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}

/* line 69, src/scss/_shared/_magnificPopup.scss */
.mfp-slide-in.mfp-ready.mfp-bg {
  opacity: 0.8;
}

/* line 75, src/scss/_shared/_magnificPopup.scss */
.mfp-slide-in.mfp-removing .mfp-with-anim {
  -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
          transform: translateX(100%);
  opacity: 0;
}

/* line 79, src/scss/_shared/_magnificPopup.scss */
.mfp-slide-in.mfp-removing.mfp-bg {
  opacity: 0;
}

@media screen and (max-width: 767px) {
  /* line 6, src/scss/_macros/_logotype.scss */
  .logo.logo--footer .logo__img {
    max-width: -webkit-calc(2048px / 10);
    max-width: calc(2048px / 10);
    margin-left: auto;
    margin-right: auto;
  }
}

/* line 16, src/scss/_macros/_logotype.scss */
.logo__link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}

/* line 21, src/scss/_macros/_logotype.scss */
.logo__img {
  display: block;
  max-width: 348px;
  height: auto;
}

/* line 3, src/scss/_macros/_title.scss */
.c-title {
  padding-bottom: 40px;
  color: #ffffff;
  font-size: 45px;
  font-weight: 300;
  text-transform: uppercase;
}

@media screen and (max-width: 1439px) {
  /* line 3, src/scss/_macros/_title.scss */
  .c-title {
    font-size: 40px;
  }
}

@media screen and (max-width: 1023px) {
  /* line 3, src/scss/_macros/_title.scss */
  .c-title {
    font-size: 35px;
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  /* line 3, src/scss/_macros/_title.scss */
  .c-title {
    text-align: center;
  }
}

@media screen and (max-width: 575px) {
  /* line 3, src/scss/_macros/_title.scss */
  .c-title {
    font-size: 30px;
  }
}

/* line 23, src/scss/_macros/_title.scss */
.c-title--blue {
  color: #071689;
}

/* line 27, src/scss/_macros/_title.scss */
.c-title--black {
  color: #000000;
}

/* line 3, src/scss/_components/_footer.scss */
.footer {
  background-color: #7a7a7a;
}

/* line 6, src/scss/_components/_footer.scss */
.footer__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 145px;
}

@media screen and (max-width: 767px) {
  /* line 6, src/scss/_components/_footer.scss */
  .footer__wrapper {
    height: auto;
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

/* line 17, src/scss/_components/_footer.scss */
.footer__wrapper-left, .footer__wrapper-right {
  width: 50%;
}

@media screen and (max-width: 767px) {
  /* line 17, src/scss/_components/_footer.scss */
  .footer__wrapper-left, .footer__wrapper-right {
    width: 100%;
  }
}

/* line 25, src/scss/_components/_footer.scss */
.footer__wrapper-right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media screen and (max-width: 767px) {
  /* line 25, src/scss/_components/_footer.scss */
  .footer__wrapper-right {
    padding-top: 30px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

/* line 3, src/scss/_components/_option.scss */
.option {
  padding-top: 15px;
  padding-bottom: 15px;
}

@media screen and (max-width: 1023px) {
  /* line 3, src/scss/_components/_option.scss */
  .option {
    padding-bottom: 5px;
  }
}

/* line 10, src/scss/_components/_option.scss */
.option__btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 180px;
  max-width: 280px;
  padding: 6px 24px;
  margin-left: 5px;
  margin-right: 5px;
  background-color: rgba(0, 0, 0, 0);
  -webkit-border-radius: 25px;
          border-radius: 25px;
  border-style: solid;
  border-width: 2px;
  border-color: #39d52d;
  text-align: center;
  font-size: 21px;
  font-weight: 600;
  color: #39d52d;
  -webkit-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

@media screen and (max-width: 1023px) {
  /* line 10, src/scss/_components/_option.scss */
  .option__btn {
    width: 100%;
    max-width: -webkit-calc((100% - 20px) / 2);
    max-width: calc((100% - 20px) / 2);
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 767px) {
  /* line 10, src/scss/_components/_option.scss */
  .option__btn {
    max-width: 100%;
    min-height: 60px;
    padding-left: 12px;
    padding-right: 12px;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
  }
}

/* line 44, src/scss/_components/_option.scss */
.option__btn:hover {
  background-color: #39d52d;
  color: #fff;
  -webkit-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

/* line 50, src/scss/_components/_option.scss */
.option__btn-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 1023px) {
  /* line 50, src/scss/_components/_option.scss */
  .option__btn-wrapper {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
}

/* line 3, src/scss/_components/_services.scss */
.services {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #7a7a7a;
}

/* line 8, src/scss/_components/_services.scss */
.services__title {
  padding-bottom: 25px;
  text-align: center;
}

/* line 13, src/scss/_components/_services.scss */
.services__desc {
  padding-bottom: 50px;
  text-align: center;
  color: #ffffff;
  font-size: 25px;
}

@media screen and (max-width: 1279px) {
  /* line 13, src/scss/_components/_services.scss */
  .services__desc {
    font-size: 22px;
  }
}

@media screen and (max-width: 767px) {
  /* line 13, src/scss/_components/_services.scss */
  .services__desc {
    font-size: 18px;
  }
}

/* line 27, src/scss/_components/_services.scss */
.services__box {
  background-color: transparent;
  width: 100%;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}

/* line 33, src/scss/_components/_services.scss */
.services__box:hover .services__box-inner {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

/* line 38, src/scss/_components/_services.scss */
.services__box-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/* line 43, src/scss/_components/_services.scss */
.services__box-wrapper > div {
  width: 100%;
  max-width: -webkit-calc((100% - 40px) / 3);
  max-width: calc((100% - 40px) / 3);
}

@media screen and (max-width: 767px) {
  /* line 43, src/scss/_components/_services.scss */
  .services__box-wrapper > div {
    max-width: 100%;
    padding-bottom: 40px;
  }
}

/* line 53, src/scss/_components/_services.scss */
.services__box-title {
  padding-top: 30px;
  text-align: center;
  color: #ffffff;
  font-size: 30px;
  font-weight: 600;
}

@media screen and (max-width: 1279px) {
  /* line 53, src/scss/_components/_services.scss */
  .services__box-title {
    font-size: 26px;
  }
}

@media screen and (max-width: 767px) {
  /* line 53, src/scss/_components/_services.scss */
  .services__box-title {
    font-size: 22px;
  }
}

/* line 67, src/scss/_components/_services.scss */
.services__box-inner {
  position: relative;
  width: 100%;
  height: 280px;
  text-align: center;
  -webkit-transition: -webkit-transform 0.75s ease-in-out;
  transition: -webkit-transform 0.75s ease-in-out;
  -o-transition: transform 0.75s ease-in-out;
  transition: transform 0.75s ease-in-out;
  transition: transform 0.75s ease-in-out, -webkit-transform 0.75s ease-in-out;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

@media screen and (max-width: 767px) {
  /* line 67, src/scss/_components/_services.scss */
  .services__box-inner {
    height: 250px;
  }
}

/* line 79, src/scss/_components/_services.scss */
.services__box-front, .services__box-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

/* line 89, src/scss/_components/_services.scss */
.services__box-front {
  overflow: hidden;
  position: relative;
  background-color: #fff;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

/* line 101, src/scss/_components/_services.scss */
.services__box-back {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 35px;
  background-color: #b7b4b4;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  color: white;
}

/* line 112, src/scss/_components/_services.scss */
.services__box-back p {
  padding-bottom: 20px;
  font-size: 21px;
  font-weight: 600;
  color: #fff;
}

@media screen and (max-width: 767px) {
  /* line 112, src/scss/_components/_services.scss */
  .services__box-back p {
    font-size: 19px;
  }
}

/* line 122, src/scss/_components/_services.scss */
.services__box-back span {
  padding-bottom: 20px;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
}

@media screen and (max-width: 767px) {
  /* line 122, src/scss/_components/_services.scss */
  .services__box-back span {
    font-size: 18px;
  }
}

/* line 132, src/scss/_components/_services.scss */
.services__box-back a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 12px 24px;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  background-color: #818a91;
  color: #fff;
  font-weight: 600;
  font-size: 15px;
}

/* line 3, src/scss/_components/_meet.scss */
.meet {
  padding-top: 50px;
  padding-bottom: 50px;
}

/* line 7, src/scss/_components/_meet.scss */
.meet__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

/* line 12, src/scss/_components/_meet.scss */
.meet__wrapper-left, .meet__wrapper-right {
  width: 50%;
}

@media screen and (max-width: 1023px) {
  /* line 12, src/scss/_components/_meet.scss */
  .meet__wrapper-left, .meet__wrapper-right {
    width: 100%;
  }
}

/* line 20, src/scss/_components/_meet.scss */
.meet__wrapper-right {
  padding-left: 30px;
}

@media screen and (max-width: 1023px) {
  /* line 20, src/scss/_components/_meet.scss */
  .meet__wrapper-right {
    padding-left: 0;
    padding-top: 30px;
  }
}

/* line 29, src/scss/_components/_meet.scss */
.meet__title {
  text-align: center;
}

/* line 33, src/scss/_components/_meet.scss */
.meet__video {
  overflow: hidden;
  position: relative;
  height: 350px;
}

@media screen and (max-width: 767px) {
  /* line 33, src/scss/_components/_meet.scss */
  .meet__video {
    height: 200px;
  }
}

/* line 46, src/scss/_components/_meet.scss */
.meet__btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 12px 24px;
  background-color: rgba(0, 0, 0, 0);
  -webkit-border-radius: 2em;
          border-radius: 2em;
  border-style: solid;
  border-width: 2px;
  border-color: #39d52d;
  font-size: 21px;
  font-weight: 600;
  color: #39d52d;
  -webkit-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

@media screen and (max-width: 767px) {
  /* line 46, src/scss/_components/_meet.scss */
  .meet__btn {
    padding-left: 12px;
    padding-right: 12px;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
  }
}

/* line 68, src/scss/_components/_meet.scss */
.meet__btn:hover {
  background-color: #39d52d;
  color: #fff;
  -webkit-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

/* line 74, src/scss/_components/_meet.scss */
.meet__btn-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

/* line 81, src/scss/_components/_meet.scss */
.meet__name {
  padding-bottom: 25px;
  font-size: 30px;
  font-weight: 500;
}

@media screen and (max-width: 767px) {
  /* line 81, src/scss/_components/_meet.scss */
  .meet__name {
    font-size: 26px;
  }
}

/* line 90, src/scss/_components/_meet.scss */
.meet__about {
  padding-bottom: 30px;
  font-size: 20px;
  font-weight: 600;
}

@media screen and (max-width: 767px) {
  /* line 90, src/scss/_components/_meet.scss */
  .meet__about {
    font-size: 18px;
  }
}

/* line 99, src/scss/_components/_meet.scss */
.meet__block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 50px;
}

/* line 104, src/scss/_components/_meet.scss */
.meet__block-head {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 20px;
}

/* line 110, src/scss/_components/_meet.scss */
.meet__block-head > div:nth-of-type(1) {
  width: 50px;
}

/* line 113, src/scss/_components/_meet.scss */
.meet__block-head > div:nth-of-type(2) {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 1px;
  max-width: 100%;
}

/* line 118, src/scss/_components/_meet.scss */
.meet__block-head > div:nth-of-type(3) {
  width: 40px;
}

/* line 123, src/scss/_components/_meet.scss */
.meet__block-head p {
  color: #1c2022;
  font-size: 19px;
  font-weight: 700;
}

@media screen and (max-width: 767px) {
  /* line 123, src/scss/_components/_meet.scss */
  .meet__block-head p {
    font-size: 17px;
  }
}

/* line 132, src/scss/_components/_meet.scss */
.meet__block-head .fab {
  font-size: 17px;
  color: #1da1f2;
}

@media screen and (max-width: 767px) {
  /* line 132, src/scss/_components/_meet.scss */
  .meet__block-head .fab {
    font-size: 15px;
  }
}

/* line 141, src/scss/_components/_meet.scss */
.meet__block-body {
  padding: 10px 20px;
  border-top: 1px solid #000;
}

/* line 145, src/scss/_components/_meet.scss */
.meet__block-body p {
  font-size: 19px;
  font-weight: 600;
  line-height: 1.2;
}

@media screen and (max-width: 767px) {
  /* line 145, src/scss/_components/_meet.scss */
  .meet__block-body p {
    font-size: 17px;
  }
}

/* line 155, src/scss/_components/_meet.scss */
.meet__block-icon {
  overflow: hidden;
  position: relative;
  width: 36px;
  height: 36px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
}

/* line 3, src/scss/_components/_projects.scss */
.projects {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #7a7a7a;
}

/* line 8, src/scss/_components/_projects.scss */
.projects__title {
  padding-bottom: 25px;
  text-align: center;
}

/* line 13, src/scss/_components/_projects.scss */
.projects__desc {
  padding-bottom: 50px;
  text-align: center;
  color: #ffffff;
  font-size: 25px;
}

@media screen and (max-width: 1279px) {
  /* line 13, src/scss/_components/_projects.scss */
  .projects__desc {
    font-size: 22px;
  }
}

@media screen and (max-width: 767px) {
  /* line 13, src/scss/_components/_projects.scss */
  .projects__desc {
    font-size: 18px;
  }
}

/* line 27, src/scss/_components/_projects.scss */
.projects__block-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  background-color: #ffffff;
  margin-bottom: 50px;
}

/* line 34, src/scss/_components/_projects.scss */
.projects__block-left, .projects__block-right {
  position: relative;
  width: 50%;
  min-height: 375px;
}

@media screen and (max-width: 767px) {
  /* line 34, src/scss/_components/_projects.scss */
  .projects__block-left, .projects__block-right {
    width: 100%;
    min-height: unset;
  }
}

/* line 45, src/scss/_components/_projects.scss */
.projects__block-left {
  overflow: hidden;
}

@media screen and (max-width: 767px) {
  /* line 45, src/scss/_components/_projects.scss */
  .projects__block-left {
    height: 250px;
  }
}

/* line 57, src/scss/_components/_projects.scss */
.projects__slider {
  position: relative;
  height: 100%;
  padding: 30px 50px;
}

@media screen and (max-width: 767px) {
  /* line 57, src/scss/_components/_projects.scss */
  .projects__slider {
    padding-left: 15px;
    padding-right: 15px;
  }
}

/* line 66, src/scss/_components/_projects.scss */
.projects__slider-btn {
  z-index: 10;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 35px;
  height: 35px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background-color: transparent;
  font-size: 16px;
  color: #ffffff;
}

@media screen and (max-width: 767px) {
  /* line 66, src/scss/_components/_projects.scss */
  .projects__slider-btn {
    display: none;
  }
}

/* line 84, src/scss/_components/_projects.scss */
.projects__slider-btn--prev {
  left: 0;
}

@media screen and (max-width: 767px) {
  /* line 84, src/scss/_components/_projects.scss */
  .projects__slider-btn--prev {
    left: 5px;
  }
}

/* line 90, src/scss/_components/_projects.scss */
.projects__slider-btn--prev .fas {
  left: -1px;
}

/* line 95, src/scss/_components/_projects.scss */
.projects__slider-btn--next {
  right: 0;
}

@media screen and (max-width: 767px) {
  /* line 95, src/scss/_components/_projects.scss */
  .projects__slider-btn--next {
    right: 5px;
  }
}

/* line 101, src/scss/_components/_projects.scss */
.projects__slider-btn--next .fas {
  right: -1px;
}

/* line 106, src/scss/_components/_projects.scss */
.projects__slider-btn .fas {
  position: relative;
  font-size: 20px;
  color: #f0f0f0;
}

/* line 115, src/scss/_components/_projects.scss */
.projects__box-title {
  padding-bottom: 35px;
  color: #000000;
  text-align: center;
  font-size: 35px;
  font-weight: 700;
  line-height: 1;
}

@media screen and (max-width: 1023px) {
  /* line 115, src/scss/_components/_projects.scss */
  .projects__box-title {
    font-size: 32px;
  }
}

@media screen and (max-width: 767px) {
  /* line 115, src/scss/_components/_projects.scss */
  .projects__box-title {
    font-size: 30px;
  }
}

/* line 130, src/scss/_components/_projects.scss */
.projects__box-desc {
  padding-bottom: 30px;
  text-align: center;
  color: #000;
  font-size: 20px;
  font-weight: 600;
}

@media screen and (max-width: 1023px) {
  /* line 130, src/scss/_components/_projects.scss */
  .projects__box-desc {
    font-size: 18px;
  }
}

@media screen and (max-width: 767px) {
  /* line 130, src/scss/_components/_projects.scss */
  .projects__box-desc {
    font-size: 16px;
  }
}

/* line 144, src/scss/_components/_projects.scss */
.projects__box-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  max-width: 165px;
  height: 50px;
  padding: 12px 24px;
  margin-left: auto;
  margin-right: auto;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  color: #000;
  font-size: 23px;
  border: 2px solid #000;
  -webkit-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

@media screen and (max-width: 1023px) {
  /* line 144, src/scss/_components/_projects.scss */
  .projects__box-btn {
    font-size: 21px;
  }
}

@media screen and (max-width: 767px) {
  /* line 144, src/scss/_components/_projects.scss */
  .projects__box-btn {
    font-size: 19px;
  }
}

/* line 166, src/scss/_components/_projects.scss */
.projects__box-btn:hover {
  background-color: #000000;
  color: #fff;
  -webkit-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

/* line 174, src/scss/_components/_projects.scss */
.projects__btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 12px 24px;
  background-color: rgba(0, 0, 0, 0);
  -webkit-border-radius: 2em;
          border-radius: 2em;
  border-style: solid;
  border-width: 2px;
  border-color: #39d52d;
  font-weight: 500;
  font-size: 15px;
  color: #39d52d;
  -webkit-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

/* line 189, src/scss/_components/_projects.scss */
.projects__btn:hover {
  background-color: #39d52d;
  color: #fff;
  -webkit-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

/* line 195, src/scss/_components/_projects.scss */
.projects__btn-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* line 203, src/scss/_components/_projects.scss */
.projects .swiper-container {
  padding-bottom: 50px;
}

/* line 207, src/scss/_components/_projects.scss */
.projects .swiper-pagination {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* line 212, src/scss/_components/_projects.scss */
.projects .swiper-pagination-bullet {
  opacity: 1;
  outline: none;
  width: 10px;
  height: 10px;
  margin-left: 8px !important;
  margin-right: 8px !important;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background-color: #cccccc;
  -webkit-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

/* line 223, src/scss/_components/_projects.scss */
.projects .swiper-pagination-bullet-active {
  background-color: #000000;
  -webkit-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

/* line 3, src/scss/_components/_say.scss */
.say {
  background-color: #5edc56;
}

/* line 6, src/scss/_components/_say.scss */
.say__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

/* line 11, src/scss/_components/_say.scss */
.say__wrapper-left, .say__wrapper-right {
  width: 50%;
  height: 100%;
}

@media screen and (max-width: 1279px) {
  /* line 11, src/scss/_components/_say.scss */
  .say__wrapper-left, .say__wrapper-right {
    width: 100%;
  }
}

/* line 20, src/scss/_components/_say.scss */
.say__wrapper-left {
  position: relative;
  padding-left: 50px;
  padding-right: 50px;
}

@media screen and (max-width: 767px) {
  /* line 20, src/scss/_components/_say.scss */
  .say__wrapper-left {
    padding-left: 0;
    padding-right: 0;
  }
}

/* line 29, src/scss/_components/_say.scss */
.say__wrapper-left:before {
  content: '';
  z-index: 0;
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../img/img-bg-logo.png");
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: contain;
          background-size: contain;
}

/* line 44, src/scss/_components/_say.scss */
.say__wrapper-left > div {
  z-index: 2;
  position: relative;
  padding-top: 50px;
  padding-bottom: 50px;
}

@media screen and (max-width: 767px) {
  /* line 44, src/scss/_components/_say.scss */
  .say__wrapper-left > div {
    padding-bottom: 0;
  }
}

/* line 55, src/scss/_components/_say.scss */
.say__wrapper-right {
  padding-top: 50px;
  padding-bottom: 50px;
}

/* line 61, src/scss/_components/_say.scss */
.say__title, .say__desc, .say__name {
  text-align: center;
  color: #ffffff;
}

/* line 68, src/scss/_components/_say.scss */
.say__desc {
  padding-bottom: 25px;
  font-size: 25px;
}

@media screen and (max-width: 1279px) {
  /* line 68, src/scss/_components/_say.scss */
  .say__desc {
    font-size: 22px;
  }
}

@media screen and (max-width: 767px) {
  /* line 68, src/scss/_components/_say.scss */
  .say__desc {
    font-size: 18px;
  }
}

/* line 79, src/scss/_components/_say.scss */
.say__name {
  font-size: 25px;
  font-weight: 500;
  font-style: italic;
}

@media screen and (max-width: 1279px) {
  /* line 79, src/scss/_components/_say.scss */
  .say__name {
    font-size: 22px;
  }
}

@media screen and (max-width: 767px) {
  /* line 79, src/scss/_components/_say.scss */
  .say__name {
    font-size: 18px;
  }
}

/* line 91, src/scss/_components/_say.scss */
.say__slider {
  position: relative;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 15px;
}

@media screen and (max-width: 767px) {
  /* line 91, src/scss/_components/_say.scss */
  .say__slider {
    padding-left: 0;
    padding-right: 0;
  }
}

/* line 101, src/scss/_components/_say.scss */
.say__slider-btn {
  z-index: 10;
  position: absolute;
  top: -webkit-calc(50% - 30px);
  top: calc(50% - 30px);
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 35px;
  height: 35px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  border: 1px solid #fff;
  background-color: transparent;
  font-size: 16px;
  color: #ffffff;
}

/* line 117, src/scss/_components/_say.scss */
.say__slider-btn--prev {
  left: 0;
}

@media screen and (max-width: 767px) {
  /* line 117, src/scss/_components/_say.scss */
  .say__slider-btn--prev {
    left: 5px;
  }
}

/* line 123, src/scss/_components/_say.scss */
.say__slider-btn--prev .fas {
  left: -1px;
}

/* line 128, src/scss/_components/_say.scss */
.say__slider-btn--next {
  right: 0;
}

@media screen and (max-width: 767px) {
  /* line 128, src/scss/_components/_say.scss */
  .say__slider-btn--next {
    right: 5px;
  }
}

/* line 134, src/scss/_components/_say.scss */
.say__slider-btn--next .fas {
  right: -1px;
}

/* line 139, src/scss/_components/_say.scss */
.say__slider-btn .fas {
  position: relative;
  color: #ffffff;
}

/* line 146, src/scss/_components/_say.scss */
.say__box {
  overflow: hidden;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 170px;
  width: 100%;
  background-color: #ffffff;
}

@media screen and (max-width: 767px) {
  /* line 146, src/scss/_components/_say.scss */
  .say__box {
    height: 200px;
  }
}

/* line 160, src/scss/_components/_say.scss */
.say__box:hover img {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: -webkit-transform 0.55s ease-in-out;
  transition: -webkit-transform 0.55s ease-in-out;
  -o-transition: transform 0.55s ease-in-out;
  transition: transform 0.55s ease-in-out;
  transition: transform 0.55s ease-in-out, -webkit-transform 0.55s ease-in-out;
}

/* line 165, src/scss/_components/_say.scss */
.say__box:hover .fas {
  -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-transition: -webkit-transform 0.55s ease-in-out;
  transition: -webkit-transform 0.55s ease-in-out;
  -o-transition: transform 0.55s ease-in-out;
  transition: transform 0.55s ease-in-out;
  transition: transform 0.55s ease-in-out, -webkit-transform 0.55s ease-in-out;
}

/* line 171, src/scss/_components/_say.scss */
.say__box img {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
  -webkit-transition: -webkit-transform 0.6s ease-in-out;
  transition: -webkit-transform 0.6s ease-in-out;
  -o-transition: transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out;
}

/* line 178, src/scss/_components/_say.scss */
.say__box .fas {
  z-index: 10;
  position: absolute;
  font-size: 60px;
  color: #fff;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
  -webkit-transition: -webkit-transform 0.6s ease-in-out;
  transition: -webkit-transform 0.6s ease-in-out;
  -o-transition: transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out;
}

@media screen and (max-width: 1365px) {
  /* line 178, src/scss/_components/_say.scss */
  .say__box .fas {
    font-size: 50px;
  }
}

@media screen and (max-width: 767px) {
  /* line 178, src/scss/_components/_say.scss */
  .say__box .fas {
    font-size: 40px;
  }
}

/* line 195, src/scss/_components/_say.scss */
.say__btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 12px 24px;
  background-color: rgba(0, 0, 0, 0);
  -webkit-border-radius: 2em;
          border-radius: 2em;
  border-style: solid;
  border-width: 2px;
  border-color: #fff;
  font-weight: 500;
  font-size: 15px;
  color: #fff;
  -webkit-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

/* line 210, src/scss/_components/_say.scss */
.say__btn:hover {
  background-color: #ffffff;
  color: #5edc56;
  -webkit-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

/* line 216, src/scss/_components/_say.scss */
.say__btn-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* line 224, src/scss/_components/_say.scss */
.say .swiper-container {
  padding-bottom: 50px;
}

/* line 228, src/scss/_components/_say.scss */
.say .swiper-pagination {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* line 233, src/scss/_components/_say.scss */
.say .swiper-pagination-bullet {
  opacity: 1;
  outline: none;
  width: 6px;
  height: 6px;
  margin-left: 8px !important;
  margin-right: 8px !important;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background-color: #47a641;
  -webkit-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

/* line 244, src/scss/_components/_say.scss */
.say .swiper-pagination-bullet-active {
  background-color: #000000;
  -webkit-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

/* line 3, src/scss/_components/_contacts.scss */
.contacts {
  padding-top: 50px;
  padding-bottom: 50px;
}

/* line 7, src/scss/_components/_contacts.scss */
.contacts__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

/* line 11, src/scss/_components/_contacts.scss */
.contacts__wrapper-left {
  width: 100%;
  max-width: -webkit-calc(100% - 680px);
  max-width: calc(100% - 680px);
}

@media screen and (max-width: 1023px) {
  /* line 11, src/scss/_components/_contacts.scss */
  .contacts__wrapper-left {
    max-width: 100%;
  }
}

/* line 19, src/scss/_components/_contacts.scss */
.contacts__wrapper-right {
  width: 100%;
  max-width: 680px;
}

@media screen and (max-width: 1023px) {
  /* line 19, src/scss/_components/_contacts.scss */
  .contacts__wrapper-right {
    max-width: 100%;
  }
}

@media screen and (max-width: 1023px) {
  /* line 28, src/scss/_components/_contacts.scss */
  .contacts__title {
    text-align: center;
  }
}

/* line 34, src/scss/_components/_contacts.scss */
.contacts__subtitle {
  padding-bottom: 40px;
  text-align: center;
  font-size: 25px;
  color: #3a3a3a;
}

@media screen and (max-width: 1439px) {
  /* line 34, src/scss/_components/_contacts.scss */
  .contacts__subtitle {
    font-size: 22px;
  }
}

@media screen and (max-width: 767px) {
  /* line 34, src/scss/_components/_contacts.scss */
  .contacts__subtitle {
    font-size: 20px;
  }
}

/* line 47, src/scss/_components/_contacts.scss */
.contacts__form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  padding: 40px;
  background-image: url("../img/img-contacts-form-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
          background-size: cover;
}

@media screen and (max-width: 767px) {
  /* line 47, src/scss/_components/_contacts.scss */
  .contacts__form {
    padding: 20px 15px;
  }
}

/* line 60, src/scss/_components/_contacts.scss */
.contacts__form > div {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 10px;
}

/* line 65, src/scss/_components/_contacts.scss */
.contacts__form > div:last-of-type {
  padding-bottom: 0;
}

/* line 70, src/scss/_components/_contacts.scss */
.contacts__form input,
.contacts__form textarea {
  outline: none;
  width: 100%;
  max-width: 100%;
  min-height: 40px;
  padding: 5px 14px;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  border: 1px solid #818a91;
  background-color: #fff;
  -webkit-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
          box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
  font-size: 14px;
  color: #222;
  -webkit-transition: border-color 0.3s ease-in-out;
  -o-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
}

/* line 88, src/scss/_utilities/_mixin.scss */
.contacts__form input.placeholder,
.contacts__form textarea.placeholder {
  font-size: 14px;
  color: #666;
}

/* line 89, src/scss/_utilities/_mixin.scss */
.contacts__form input:-moz-placeholder,
.contacts__form textarea:-moz-placeholder {
  font-size: 14px;
  color: #666;
}

/* line 90, src/scss/_utilities/_mixin.scss */
.contacts__form input::-moz-placeholder,
.contacts__form textarea::-moz-placeholder {
  font-size: 14px;
  color: #666;
}

/* line 91, src/scss/_utilities/_mixin.scss */
.contacts__form input:-ms-input-placeholder,
.contacts__form textarea:-ms-input-placeholder {
  font-size: 14px;
  color: #666;
}

/* line 92, src/scss/_utilities/_mixin.scss */
.contacts__form input::-webkit-input-placeholder,
.contacts__form textarea::-webkit-input-placeholder {
  font-size: 14px;
  color: #666;
}

/* line 89, src/scss/_components/_contacts.scss */
.contacts__form input:focus,
.contacts__form textarea:focus {
  border-color: #bfbfbf;
  -webkit-transition: border-color 0.3s ease-in-out;
  -o-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
}

/* line 95, src/scss/_components/_contacts.scss */
.contacts__form textarea {
  resize: none;
  min-height: 90px;
}

/* line 100, src/scss/_components/_contacts.scss */
.contacts__form button {
  outline: none;
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 40px;
  padding: 12px 24px;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 2px solid #071689;
  background-color: #071689;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  font-weight: 500;
  font-size: 15px;
  color: #fff;
  -webkit-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

@media screen and (max-width: 767px) {
  /* line 100, src/scss/_components/_contacts.scss */
  .contacts__form button {
    width: 100%;
    max-width: 100%;
  }
}

/* line 123, src/scss/_components/_contacts.scss */
.contacts__form button:hover {
  background-color: transparent;
  color: #071689;
  -webkit-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

/* line 3, src/scss/_components/_map.scss */
.map {
  background-color: #f3f3fc;
  background-image: url("../img/img-map-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
          background-size: cover;
}

/* line 10, src/scss/_components/_map.scss */
.map__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 612px;
  padding-top: 50px;
  padding-bottom: 50px;
}

@media screen and (max-width: 1024px) {
  /* line 10, src/scss/_components/_map.scss */
  .map__wrapper {
    height: auto;
  }
}

/* line 21, src/scss/_components/_map.scss */
.map__wrapper-left {
  width: 100%;
  max-width: 70%;
}

@media screen and (max-width: 1024px) {
  /* line 21, src/scss/_components/_map.scss */
  .map__wrapper-left {
    max-width: 100%;
    padding-bottom: 50px;
  }
}

/* line 29, src/scss/_components/_map.scss */
.map__wrapper-left img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* line 42, src/scss/_components/_map.scss */
.map__wrapper-right {
  width: 100%;
  max-width: 30%;
  padding-left: 30px;
}

@media screen and (max-width: 1024px) {
  /* line 42, src/scss/_components/_map.scss */
  .map__wrapper-right {
    max-width: 100%;
    padding-left: 0;
  }
}

@media screen and (max-width: 1023px) {
  /* line 53, src/scss/_components/_map.scss */
  .map__block {
    width: 100%;
    max-width: 50%;
  }
}

@media screen and (max-width: 767px) {
  /* line 53, src/scss/_components/_map.scss */
  .map__block {
    max-width: 100%;
  }
}

@media screen and (max-width: 1023px) {
  /* line 62, src/scss/_components/_map.scss */
  .map__block-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
}

/* line 70, src/scss/_components/_map.scss */
.map__title {
  padding-bottom: 20px;
  color: #3a3a3a;
  line-height: 1;
  font-size: 20px;
  font-weight: 300;
}

@media screen and (max-width: 767px) {
  /* line 70, src/scss/_components/_map.scss */
  .map__title {
    text-align: center;
  }
}

/* line 80, src/scss/_components/_map.scss */
.map__title .fas,
.map__title .far {
  margin-right: 5px;
  color: #39d52d;
  font-size: 20px;
}

/* line 88, src/scss/_components/_map.scss */
.map__desc {
  display: block;
  padding-bottom: 30px;
  color: #1e73be;
  font-size: 16px;
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

@media screen and (max-width: 767px) {
  /* line 88, src/scss/_components/_map.scss */
  .map__desc {
    text-align: center;
  }
}

/* line 96, src/scss/_components/_map.scss */
w .map__desc:hover {
  color: #000;
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

/*# sourceMappingURL=maps/app.css.map */
