// SECTION contacts :: START

section#contacts.contacts
	.c-grid
		.contacts__wrapper
			.contacts__wrapper-left

				h2.contacts__title.c-title.c-title--blue READY TO SCHEDULE?
				p.contacts__subtitle Please fill out the following information

			.contacts__wrapper-right

				form.contacts__form(action='' autocomplete='off')
					div
						input(type='text' name='' placeholder='Name*' required)
					div
						input(type='tel' name='' placeholder='Phone Number*' required)
					div
						input(type='email' name='' placeholder='E-main*' required)
					div
						textarea(name='' placeholder='How can we help?')
					div
						button(type='submit') Schedule An Appointment


// SECTION contacts :: END
