// SECTION contacts :: START

section#contacts.contacts
	.c-grid
		.contacts__wrapper
			.contacts__wrapper-left

				h2.contacts__title READY TO SCHEDULE?
				p.contacts__subtitle Please fill out the following information

			.contacts__wrapper-right

				form.contacts__form(action='' autocomplete='off')
					div
						input(type='text' name='' placeholder='Name*')
					div
						input(type='text' name='' placeholder='Phone Number*')
					div
						input(type='text' name='' placeholder='E-main*')
					div
						textarea(name='' placeholder='How can we help?')
					div
						button(type='submit') Schedule An Appointment


// SECTION contacts :: END
