// FOOTER :: START

footer#footer.footer
	.c-grid
		.footer__wrapper
			.footer__wrapper-left

				.logo.logo--footer
					a.logo__link(href="/")
						img.logo__img(src="img/logotype.png" alt="")

			.footer__wrapper-right

				.copyright
					p.copyright__text © 2019 - Carrollton Smiles Sirisha Bhandaru DMD - All Rights Reserved.

// FOOTER :: END
