// HEADER :: START

header#header.header
	.c-grid
		.header__wrapper.header__wrapper-1
			.header__wrapper-left

				a.header__make(href="#") Make an Appointment

			.header__wrapper-middle

				.logo.logo--header
					a.logo__link(href="/")
						img.logo__img(src="img/logotype-header.jpg" alt="")

			.header__wrapper-right

				a.header__location(href='http://maps.google.com/maps?q=1735 Keller Springs Rd, Suite 204 Carrollton, TX 75006')
					!= "<span>1735 Keller Springs Rd, # 204</span>"
					!= "<span>Carrollton, TX 75006</span>"

		.header__wrapper.header__wrapper-2
			.header__wrapper-left

				a.header__phone(href="tel:(972) 694-4192") (972) 694-4192

			.header__wrapper-middle

				+hamburger()

			.header__wrapper-right

				.social.social--header
					a.social__btn.social__btn--facebook(href="#")
						i.fab.fa-facebook-f
					a.social__btn.social__btn--twitter(href="#")
						i.fab.fa-twitter
					a.social__btn.social__btn--instagram(href="#")
						i.fab.fa-instagram
					a.social__btn.social__btn--youtube(href="#")
						i.fab.fa-youtube

// HEADER :: END
