// SECTION map :: START

section#map.map
	.c-grid
		.map__wrapper
			.map__wrapper-left

				iframe(frameborder='0', scrolling='no', marginheight='0', marginwidth='0', src='https://maps.google.com/maps?q=Carrollton%20smiles%201735%20Keller%20Springs%20Rd%2C%20Suite%20204%20Carrollton%2C%20TX%2075006&t=m&z=10&output=embed&iwloc=near')

			.map__wrapper-right

				p.map__title
					i.fas.fa-map-marker-alt
					span Address

				a.map__desc(href="http://maps.google.com/maps?q=1735 Keller Springs Rd, Suite 204 Carrollton, TX 75006")!= "1735 Keller Springs Rd, <br># 204 <br>Carrollton, TX 75006"

				p.map__title
					i.fas.fa-mobile-alt
					span Phone Number

				a.map__desc(href="tel:(972) 694-4192") (972) 694-4192

				p.map__title
					i.fas.fa-fax
					span Fax

				a.map__desc(href="tel:(972)-242-1686") (972)-242-1686

				p.map__title
					i.far.fa-envelope
					span E-mail Address

				a.map__desc(href="mailto:Info@carrollton-smiles.com") Info@carrollton-smiles.com

				.social
					a.social__btn.social__btn--facebook(href="#")
						i.fab.fa-facebook-f
					a.social__btn.social__btn--twitter(href="#")
						i.fab.fa-twitter
					a.social__btn.social__btn--instagram(href="#")
						i.fab.fa-instagram
					a.social__btn.social__btn--youtube(href="#")
						i.fab.fa-youtube

// SECTION map :: END
