// SECTION menu :: START

section#menu.menu(mobile-block-js)

	a.menu__close(href="#")
		i.fas.fa-times

	.menu__wrapper

		.menu__btn-wrapper
			a.menu__btn(href="#") Home
			a.menu__btn(href="#") Meet Dr. Bhandaru

			a.menu__btn.menu__btn--collapse.collapsed(data-toggle='collapse', href='#dropLevel1', role='button', aria-expanded='false', aria-controls='dropLevel1')
				| Services
				i.fas.fa-chevron-down
			#dropLevel1.collapse.menu__collapse
				div
					a.menu__btn(href="#") Family Dentistry
					a.menu__btn(href="#") Pediatric Dentistry
					a.menu__btn(href="#") Senior Dentistry

					a.menu__btn.menu__btn--collapse.collapsed(data-toggle='collapse', href='#dropLevel2', role='button', aria-expanded='false', aria-controls='dropLevel2')
						| General Dentistry
						i.fas.fa-chevron-down
					#dropLevel2.collapse.menu__collapse
						div
							a.menu__btn(href="#") Buffering Local Anesthesia
							a.menu__btn(href="#") Dental X-Rays
							a.menu__btn(href="#") Cleaning & Prevention
							a.menu__btn(href="#") Dental Emergencies
							a.menu__btn(href="#") Dental Fillings
							a.menu__btn(href="#") Sealants
							a.menu__btn(href="#") Tooth Extraction
							a.menu__btn(href="#") Extractions & Socket Preservation
							a.menu__btn(href="#") Wisdom Teeth Removal
							a.menu__btn(href="#") Sedation Dentistry
							a.menu__btn(href="#") Laser Dentistry
							a.menu__btn(href="#") White Spot Treatment
							a.menu__btn(href="#") Anxiety-Free Dentistry

					a.menu__btn.menu__btn--collapse.collapsed(data-toggle='collapse', href='#dropLevel3', role='button', aria-expanded='false', aria-controls='dropLevel3')
						| Cosmetic Dentistry
						i.fas.fa-chevron-down
					#dropLevel3.collapse.menu__collapse
						div
							a.menu__btn(href="#") Dental Bonding
							a.menu__btn(href="#") Kor Whitening
							a.menu__btn(href="#") Teeth Whitening
							a.menu__btn(href="#") Porcelain Veneers
							a.menu__btn(href="#") Fluoride Treatments

					a.menu__btn.menu__btn--collapse.collapsed(data-toggle='collapse', href='#dropLevel4', role='button', aria-expanded='false', aria-controls='dropLevel4')
						| Restorative Dentistry
						i.fas.fa-chevron-down
					#dropLevel4.collapse.menu__collapse
						div
							a.menu__btn(href="#") Dental Bridges
							a.menu__btn(href="#") Dental Crowns (Porcelain)
							a.menu__btn(href="#") Dental Implants
							a.menu__btn(href="#") Complete Dentures and Partials
							a.menu__btn(href="#") Inlays and Onlays
							a.menu__btn(href="#") Tooth Replacement

					a.menu__btn.menu__btn--collapse.collapsed(data-toggle='collapse', href='#dropLevel5', role='button', aria-expanded='false', aria-controls='dropLevel5')
						| Periodontal Dentistry
						i.fas.fa-chevron-down
					#dropLevel5.collapse.menu__collapse
						div
							a.menu__btn(href="#") Bone Grafting
							a.menu__btn(href="#") Periodontal Scaling and Root Planing

					a.menu__btn.menu__btn--collapse.collapsed(data-toggle='collapse', href='#dropLevel6', role='button', aria-expanded='false', aria-controls='dropLevel6')
						| Orthodontics
						i.fas.fa-chevron-down
					#dropLevel6.collapse.menu__collapse
						div
							a.menu__btn(href="#") Braces
							a.menu__btn(href="#") Invisalign

					a.menu__btn(href="#") Root Canal Treatment
					a.menu__btn(href="#") Dental Technology
					a.menu__btn(href="#") Sleep Apnea Treatment
					a.menu__btn(href="#") Ozone Therapy
					a.menu__btn(href="#") Smile Makeover

			a.menu__btn(href="#") Financial Information
			a.menu__btn(href="#") New Patients
			a.menu__btn(href="#") Testimonials
			a.menu__btn(href="#") Blog
			a.menu__btn(href="#") Contact
			a.menu__btn(href="#") Photo Gallery
			a.menu__btn(href="#") Project Smile
			a.menu__btn(href="#") No Cavity Club
			a.menu__btn(href="#") Books for Bucks
			a.menu__btn(href="#") Community Outreach
			a.menu__btn(href="#") About Us
			a.menu__btn(href="#") Carrollton Smiles Advantage Program

// SECTION menu :: END
