---
title: Carrollton

pageClassName: p-home
---
extends shared/_layout

block content
	div.body.body--start(class!= pageClassName)

		include components/homepage/_main
		include components/homepage/_option
		include components/homepage/_services
		include components/homepage/_meet
		include components/homepage/_projects
		include components/homepage/_say
		include components/homepage/_contacts
		include components/homepage/_map

		include components/_menu
