// SECTION menu :: START

.menu {
	z-index: 1000;
	opacity: 0;
	visibility: hidden;
	transform: translateX(-100%);
	overflow-y: auto;
	position: fixed;
	top: 0;
	left: 0;
	width: 500px;
	height: 100vh;
	padding: 50px 30px;
	background-color: #08158a;
	box-shadow: 5px 0 10px 0 rgba(#000, 0.15);
	@include adaptive(575) {
		width: 90%;
		padding: 30px 15px;
	}

	&.is-open {
		opacity: 1;
		visibility: visible;
		transform: translateX(0);
		@include transition(opacity, visibility, transform);
	}

	&__close {
		position: absolute;
		top: 0;
		right: 0;
		display: none;
		align-items: center;
		justify-content: center;
		width: 30px;
		height: 30px;
		@include adaptive(1279) {
			display: flex;
		}

		.fas {
			color: #fff;
			font-size: 16px;
		}
	}

	&__btn {
		display: flex;
		align-items: center;
		min-height: 45px;
		padding-left: 15px;
		border-bottom: 1px solid #fff;
		font-size: 16px;
		font-weight: 600;
		color: #fff;
		@include transition(opacity);

		&:hover {
			opacity: 0.75;
			color: #fff;
			@include transition(opacity);

			.fas {
				color: #fff;
				@include transition(transform, color);
			}
		}

		&--collapse {
			justify-content: space-between;

			.fas {
				color: #fff;
				font-size: 12px;
				transform: scale(-1);
				backface-visibility: hidden;
				transform-origin: center;
				@include transition(transform, color);
			}
		}

		&.collapsed {
			.fas {
				transform: scale(1);
				@include transition(transform);
			}
		}

		&-wrapper {
			display: flex;
			flex-direction: column;
		}
	}

	&__collapse {
		padding-left: 15px;
		background-color: darken(#08158a, 7%);

		.menu__btn {
			padding-right: 15px;
		}
	}
}

// SECTION menu :: END
