// LOGOTYPE :: START

.logo {
	&.logo--header {
		.logo {
			&__img {
				@include adaptive(767) {
					max-width: calc(394px / 1.25);
					margin-left: auto;
					margin-right: auto;
				}
			}
		}
	}
	&.logo--footer {
		.logo {
			&__img {
				@include adaptive(767) {
					max-width: calc(2048px / 10);
					margin-left: auto;
					margin-right: auto;
				}
			}
		}
	}

	&__link {
		display: flex;
		align-items: flex-start;
	}

	&__img {
		display: block;
		max-width: 348px;
		height: auto;
	}
}

// LOGOTYPE :: END
