// SECTION main :: START

section#main.main

	.main__video
		iframe(src='https://player.vimeo.com/video/353880566?autoplay=1&loop=1&title=0&byline=0&portrait=0&background=1',
			frameborder='0'
			allow='autoplay'
			allowfullscreen="allowfullscreen"
		)

	.main__image
		img(src="img/img-main-bg.png" alt="")

// SECTION main :: END
