// SECTION meet :: START

section#meet.meet
	.c-grid
		.meet__wrapper
			.meet__wrapper-left

				h2.meet__title.c-title.c-title--black MEET YOUR DENTIST

				.meet__video
					iframe(frameborder='0', scrolling='no', marginheight='0', marginwidth='0' src='https://player.vimeo.com/video/373000630?color&autopause=0&loop=0&muted=0&title=1&portrait=1&byline=1#t=')

			.meet__wrapper-right

				p.meet__name Dr. Sirisha Bhandaru
				p.meet__about Dr. Sirisha Bhandaru is a respected general dentist in Carrrollton TX. Dr. Bhandaru and her team at Carrollton Smiles provide a number of dental services the residents of Carrollton, Lewisville, Coppell, Farmer’s Branch, and surrounding cities in Texas.

				.meet__block
					.meet__block-head
						div
							.meet__block-icon
								img(src="img/img-user.jpg" alt="")
						div
							p Dr. Sirisha Bhandaru
						div
							i.fab.fa-twitter
					.meet__block-body
						p Hello, I am Dr. Sirisha Bhandaru, the founder of Carrollton Smiles! I am a General Dentist in Carrollton Texas. Carrollton Smiles came to its inception 2013, it is my promise to you in providing an exceptional experience at our office."

				.meet__btn-wrapper
					a.meet__btn(href="#") Learn More About Dr. Bhandaru

// SECTION meet :: END
