// SECTION option :: START

section#option.option
	.c-grid
		.option__wrapper

			.option__btn-wrapper
				a.option__btn(href="#")!= "Meet the<br>Doctor"
				a.option__btn(href="#")!= "About Carrollton<br>Smiles"
				a.option__btn(href="#") Carrollton Smiles Advantage Program
				a.option__btn(href="#")!= "Office<br>Tour"

// SECTION option :: END
