// SECTION services :: START

section#services.services
	.c-grid
		.services__wrapper

			h2.services__title.c-title OUR SERVICES
			p.services__desc We keep up with the latest technology in dental field to provide you with the best care you deserve.

			.services__box-wrapper
				div
					.services__box
						.services__box-inner
							.services__box-front
								img(src="img/img-services-1.jpeg" alt="")
							.services__box-back
								p Sleep Apnea
								span Having trouble sleeping? Do you snore loud?
								a(href="#") Learn More
					p.services__box-title Sleep Apnea

				div
					.services__box
						.services__box-inner
							.services__box-front
								img(src="img/img-services-2.jpg" alt="")
							.services__box-back
								p Dental Ozone
								span Sterilizing and disinfection has never been easier.
								a(href="#") Learn More
					p.services__box-title Dental Ozone

				div
					.services__box
						.services__box-inner
							.services__box-front
								img(src="img/img-services-3.jpeg" alt="")
							.services__box-back
								p Invisalign
								span Straightening your teeth now has a clear solution
								a(href="#") Learn More
					p.services__box-title Dental Ozone


// SECTION services :: END
